

<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Notes</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>
    </head>

    <body>
        <style>
           
            h5{text-align: left}
            
        </style>
        <nav style="background-color:rgb(120, 225, 102)">
            <div class="navbar-brand">
                <img src="{% static '/image/Evernotelogo.png'  %}" width="60" length="100">
            </div>
             

            <div class="navbar-menu">
            </div>
            <div> <h1>EVERNOTE</h1>
            </div>
         </div>
                <div class="navbar-end">
        
                    <a href="{% url 'editor' %}" class="navbar-item">Notes</a>
                    <a href="{% url 'editor' %}?docid=0" class="navbar-item">New document</a>
                    <h1>logged in as {{user.username}}</h1>
                    <a class="navbar-item">logout</a>
                </div>
            </div>
        </nav>

        <section class="section">
            <div class="columns">
                <div class="column is-2">
                    <aside class="menu">
                        <p class="menu-label">Documents</p>

                        <ul class="menu-list">
                            {% for doc in documents %}
                                <li>
                                    <a href="{% url 'editor' %}?docid={{ doc.id }}">{{ doc.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>


                <div class="column is-10">
                    <form method="post" action="{% url 'editor' %}" hx-trigger="change" hx-post="/check_change/" hx-target = "#checksave2">
                        {% csrf_token %}
                    
                       

                        <input type="hidden" name="docid" value="{{ docid }}">

                        <div>
                        <h3>
                            <b>{{user.username}}</b> 
                        </h3>
                        <a href="{% url 'edit_username' %}" class="button is-danger">Edit Username</a>
                        </div>

                        <div class="field">
                            <label class="label">
                                Title

                                {% if document %}
                                    <span class="has-text-grey-light">
                                        Created at: {{ document.created_at|date:"m/d Y" }} / 
                                        Modified at: {{ document.modified_at|date:"m/d Y" }}
                                    </span><i id = "checksave">Not Saved </i>
                                {% endif %}
                            </label>

                            <div class="control">
                                <input type="text" class="input" name="title" placeholder="Title"{% if document %} value="{{ document.title }}"{% endif %}>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Content</label>
                    
                            <div class="control">
                         
                                <textarea class="textarea" name="content" placeholder="Content">{% if document %}{{ document.content }}{% endif %}</textarea>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary">Save</button>
                            </div>
                            {% if document %}
                                <div class="control">
                                    <a href="{% url 'delete_document' document.id %}" class="button is-danger">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    </form>

                    <form>
                        <form method="post" action=" ">
                            {% csrf_token %}
                            
                            {{form.media}}

                    </form>
                </div>
            </div>
        </section>
        <script src="C:\Users\usama\SDPproject\evernote\Templates\ckeditor/ckeditor.js" ></script>
        <script>
            CKEDITOR.replace('content');
        </script>
        
    </body>
</html>
