<html>
    <head>

    </head>
    <body>
        {% load static %}
        <style>
            
            div{
                padding-top: 50px;
            }
            h1{text-align: center}
        
        </style>
        <meta charset="utf-8">
        <meta name="home" content="width=device-width, initial-scale=1">
        <title>Count page</title>
       <img src="{% static '/image/Evernotelogo.png'  %}" width="100" length="150">

        <h1 style="background-color:rgb(44, 185, 25);">Welcome To Evernote <a href="{% url 'login'%}"><button>logout </button></a></h1>  
        
      
        <h2>the page count is  {{items.content}}</h2>
      
    </body>
</html>
