<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>
    <style>
        h5 {
            text-align: left
        }

        .navbar-brand {
            padding-left: 30px;
            padding-right: 10px;
        }
    </style>

    <nav style="background-color:rgb(117, 229, 239)" class="navbar-brand navbar-expand-lg navbar-light bg-light">
        <div>
            <img src="{% static '/image/ico.png'  %}" width="60" length="60">
            <div style=" font-size: 12px; font-weight: bolder; ">DigitalDiary</div>

        </div>
        <div class="navbar-end">
            <ul class="navbar-brand">
                <li class="navbar-item">
                    <a href="{% url 'editor' %}" class="navbar-item">New Diary</a>
                </li>

                <li class="navbar-item">
                    <a href="{% url 'contact' %}" class="navbar-item">Contact Us</a>
                </li>


                <li class="navbar-item">
                    <a href="{% url 'logout' %}" class="navbar-item">Logout</a>
                </li>

                <li class="navbar-item">
                    <h3>logged in as <b>{{user.username}}</b></h3>
                </li>
                <li class="navbar-item">
                    <a href="{% url 'edit_username' %}" class="button is-primary">Edit Username</a>
                </li>
            </ul>

        </div>
    </nav>


    


   



    <section class="section">
        <div class="columns">
            <div class="column is-2">
                <aside class="menu">
                    <p class="menu-label"><b>Diaries</p></b>
                    {% if submitbutton == 'Search' and request.POST.q != '' %}
    {% if results %}
   

    {% for result in results %}

    <a href="{% url 'editor' %}?docid={{ result.id }}">
    
            
            <h5><b> {{result.title}}</h5></b>
    </a>   
    
    <br />
    {% endfor %}
    {% else %}
    No search results for this query
    {% endif %}
    {% endif %}
                    <ul class="menu-list">

                        {% for doc in documents %}
                        <li>
                            <a href="{% url 'editor' %}?docid={{ doc.id }}">
                                <li>
                                <h5><b> {{doc.title}}</h5></b>
                                
                                
                                
                                <p>{{doc.content}}</p>
                                </li>
                            </a>

                        </li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>


            
        



            </div>
        </div>
  

</body>

</html>



